@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
    font-family: DroidSans;
    src: url('../fonts/DroidSans-Regular.ttf') format("truetype");
}
