<div class="container g-app-container ">
    <div class="row r-page">
        <form action="#/create-post" id="post-form" method="post" onsubmit="$('#c-loading').show();">
            <div class="form-group">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="Title" required  title="The title should be between 5 and 50 symbols">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" name="content" id="content" required  title="The content should be between 20 and 40000 symbols"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">Tags: (with space between the words)</label>
                    <input class="form-control" type="text" name="tags" id="tags" placeholder="Tags"  title="1 or more tags: ( tags < 50 symbols)" required>
                </div>
                <div class="form-group" >
                    <label for="category">Category  </label>
                    <select name="category" id="category" style="color:black" required>
                    <option disabled selected>Please select the category</option>
                    <option>carsandtrucks</option>
                    <option>classics</option>
                    <option>engines</option>
                    <option>entertainment</option>
                    <option>fashion</option>
                    <option>politics</option>
                    <option>sportandsupercars</option>
                    <option>upandcoming</option>
                </select>
                </div>

                <label for="image">Image</label>
                <input class="form-control" id="image" type="file" accept="image/*" name="image" required>
            </div>
            <div class="form-group">
                <input type="submit" value="PUBLISH POST" class="btn g-btn btn-submit-form">
                <div id="c-loading" style="display:none;"><img src="../images/Reload.gif" alt="" />Submitting...</div>
            </div>
        </form>
    </div>
</div>