<div class="container g-app-container ">
    <div class="p-profile">
            <img class="single-article-image" src="{{user.photoURL}}" />
            <div class="p-dotted"></div>
            <div class="p-name">{{user.displayName}}</div>
            <div class="p-email">{{user.email}}</div>
    </div>
</div>