@font-face {
  font-family: LeagueGothic;
  src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
  font-family: DroidSans;
  src: url('../fonts/DroidSans-Regular.ttf') format("truetype");
}

* {
    margin: 0;
    padding: 0;
}
/* CLEAR-FIX */
.g-clearfix:after { 
    visibility: hidden;
    display: block;
    font-size: 0; 
    content: " ";
    clear: both;
    height: 0;
    overflow: none;
}


body {
    margin:0;
    padding:0;
    width: 100%;
    min-height: 100vh;
    background: rgb(27,28,28); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(27,28,28,1) 0%, rgba(30,30,28,1) 3%, rgba(31,31,31,1) 3%, rgba(37,38,39,1) 11%, rgba(40,39,39,1) 11%, rgba(41,41,41,1) 14%, rgba(44,44,44,1) 15%, rgba(43,43,42,1) 15%, rgba(45,44,45,1) 16%, rgba(43,46,45,1) 16%, rgba(46,45,44,1) 17%, rgba(46,46,46,1) 17%, rgba(49,48,47,1) 20%, rgba(47,50,49,1) 21%, rgba(48,47,48,1) 21%, rgba(50,50,50,1) 22%, rgba(50,50,50,1) 80%, rgba(28,29,29,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(27,28,28,1) 0%,rgba(30,30,28,1) 3%,rgba(31,31,31,1) 3%,rgba(37,38,39,1) 11%,rgba(40,39,39,1) 11%,rgba(41,41,41,1) 14%,rgba(44,44,44,1) 15%,rgba(43,43,42,1) 15%,rgba(45,44,45,1) 16%,rgba(43,46,45,1) 16%,rgba(46,45,44,1) 17%,rgba(46,46,46,1) 17%,rgba(49,48,47,1) 20%,rgba(47,50,49,1) 21%,rgba(48,47,48,1) 21%,rgba(50,50,50,1) 22%,rgba(50,50,50,1) 80%,rgba(28,29,29,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(27,28,28,1) 0%,rgba(30,30,28,1) 3%,rgba(31,31,31,1) 3%,rgba(37,38,39,1) 11%,rgba(40,39,39,1) 11%,rgba(41,41,41,1) 14%,rgba(44,44,44,1) 15%,rgba(43,43,42,1) 15%,rgba(45,44,45,1) 16%,rgba(43,46,45,1) 16%,rgba(46,45,44,1) 17%,rgba(46,46,46,1) 17%,rgba(49,48,47,1) 20%,rgba(47,50,49,1) 21%,rgba(48,47,48,1) 21%,rgba(50,50,50,1) 22%,rgba(50,50,50,1) 80%,rgba(28,29,29,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-family: LeagueGothic;
    overflow-x: hidden !important; 
    font-size: 15px;
    color: white;
    /*background-image: url('../images/background.png');*/
} 
.g-wrapper {
    overflow-x:hidden;
    min-height: 100vh;
    position: relative;

}
a {
    color: inherit;
}

.g-btn {
    background: #dcc08e;
    color: #FFFFFF;
    border: 2px solid #A99571;
    font-size: 2vw;
}
.g-btn:hover , .g-btn:active, .g-btn:focus {
    background: #E0BD7E;
    color: #8B6721;
    border: 2px solid #DBB164;
}
/* Header style*/
ul {
    list-style-type: none;
}
a:hover,  a:active, a:focus {
    color: inherit;
    text-decoration: none;
}
ul li a:hover, ul li a:active, ul li a:focus{
    color: #dcc08e;
}

/* Loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_3.gif) center no-repeat #fff;
}

.g-bg-yellow {
    color: #dcc08e;
}
.g-bg-gree {
    color: #848484;
}
.g-style {
    display: flex;
    flex-direction: column;
}
.g-hbox {
    display: flex;
    flex-direction: row;
}
.g-flex {
    flex: 1 1 auto;
}

#g-app-container {
    margin-bottom:50px;
}
.hidden {
    display: none !important;
}
.g-check-media{
    display:none;
    width:0;
}

.g-logo-box {
    margin-left: 67px;
    margin-top: 124px;
    margin-bottom: 22px;
}

#g-logo {
    height: 104px;
}

#g-mobile-logo {
    width: 50%;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.g-app-container-home {
    display: block;
    overflow: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color: #DCC08E;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: #DCC08E;
}

.g-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.g-reset > li {
    margin: 0;
    padding: 0;
    display: block;
}

#g-myNavbar {
    margin-left: 84px;
    margin-right: 82px;
    margin-bottom: 44px;
    text-shadow: 1px 1px black;
}

#g-myNavbar ul li {
    margin-right: 20px;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff !important;
}
#g-myNavbar ul li:last-of-type {
    margin-right: 0px !important;
}

.g-search-form {
    font-family: 'DroidSans', sans-serif;
    width:191px;
    height: 33px;
    color:#595959;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    background:transparent url('../images/search-icon.png') no-repeat scroll right;
    background-color: #1b1a1a;
    border-bottom: 1px solid #323233 !important;
    border-right: 1px solid #2b2a2a !important;
    text-shadow: 1px 1px black  !important;
    border:none;
}
.g-search-form-text {
    padding: 14px 14px 10px;
}

.g-warning {
    display: block;
    font-size: 8vw;
    margin: auto;
    margin-top: 15vw;
    margin-bottom: 30vw;
    margin-left: 5vw;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -10px;
    z-index: 1000;
    display: none;
    float: left;
    width: 203px;
    text-align: left;
    list-style: none;
    background-color: #222222;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding-bottom: 14px;
    padding-top: 8px;
}

.dropdown-menu > li >a {
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 1;
    color: inherit;
    white-space:unset;
    font-size: 22px;
    padding-top: 11px !important;
    padding-left: 20px !important;
    padding-right: 0px !important;

}
.dropdown-menu > li >a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
    color: #dcc08e;
    background: #222222;
}

.dropdown-menu > li > a:hover #g-sub-li-nav-pic, .dropdown-menu > li > a:focus #g-sub-li-nav-pic, .dropdown-menu > li > a:active #g-sub-li-nav-pic {
    content: url("../images/sub-li-nav-red.png");
}
.dropdown-toggle:focus,
.dropdown-toggle:active {
    border-top-left-radius: 0.001em;
    border-top-right-radius: 0.001em;
    background: #222222;
    box-shadow: 0px 0px 0px 10px #222222;
}
#g-sub-li-nav-pic {
    display:inline-block;
    content: url('../images/sub-li-nav.png');
}
.g-mobile-menu {
    margin: 20px;
}

/* Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    font-size: 13px;
    color: #c8c8c8;
    border-top:1px solid #4a4a4a;
    box-shadow: 0px 5px 17px #000000;
    background: rgb(44,44,44); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(44,44,44,1) 0%, rgba(45,44,44,1) 0%, rgba(22,23,23,1) 0%, rgba(25,23,24,1) 0%, rgba(24,24,24,1) 1%, rgba(26,25,26,1) 1%, rgba(24,25,25,1) 2%, rgba(27,27,27,1) 3%, rgba(27,27,28,1) 6%, rgba(32,32,32,1) 8%, rgba(33,32,31,1) 9%, rgba(35,36,36,1) 12%, rgba(37,36,36,1) 14%, rgba(36,38,38,1) 15%, rgba(38,39,37,1) 16%, rgba(39,37,39,1) 16%, rgba(39,40,40,1) 18%, rgba(42,40,39,1) 19%, rgba(41,42,42,1) 19%, rgba(40,40,41,1) 19%, rgba(42,42,42,1) 19%, rgba(44,44,44,1) 22%, rgba(44,44,44,1) 80%, rgba(41,41,40,1) 83%, rgba(40,42,42,1) 83%, rgba(42,41,39,1) 83%, rgba(42,39,41,1) 83%, rgba(39,40,40,1) 83%, rgba(40,40,40,1) 85%, rgba(36,38,38,1) 87%, rgba(37,36,36,1) 87%, rgba(35,37,37,1) 88%, rgba(33,31,32,1) 92%, rgba(32,32,32,1) 94%, rgba(31,29,31,1) 95%, rgba(31,31,28,1) 95%, rgba(31,28,31,1) 95%, rgba(28,29,31,1) 95%, rgba(27,27,28,1) 96%, rgba(26,25,25,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(44,44,44,1) 0%,rgba(45,44,44,1) 0%,rgba(22,23,23,1) 0%,rgba(25,23,24,1) 0%,rgba(24,24,24,1) 1%,rgba(26,25,26,1) 1%,rgba(24,25,25,1) 2%,rgba(27,27,27,1) 3%,rgba(27,27,28,1) 6%,rgba(32,32,32,1) 8%,rgba(33,32,31,1) 9%,rgba(35,36,36,1) 12%,rgba(37,36,36,1) 14%,rgba(36,38,38,1) 15%,rgba(38,39,37,1) 16%,rgba(39,37,39,1) 16%,rgba(39,40,40,1) 18%,rgba(42,40,39,1) 19%,rgba(41,42,42,1) 19%,rgba(40,40,41,1) 19%,rgba(42,42,42,1) 19%,rgba(44,44,44,1) 22%,rgba(44,44,44,1) 80%,rgba(41,41,40,1) 83%,rgba(40,42,42,1) 83%,rgba(42,41,39,1) 83%,rgba(42,39,41,1) 83%,rgba(39,40,40,1) 83%,rgba(40,40,40,1) 85%,rgba(36,38,38,1) 87%,rgba(37,36,36,1) 87%,rgba(35,37,37,1) 88%,rgba(33,31,32,1) 92%,rgba(32,32,32,1) 94%,rgba(31,29,31,1) 95%,rgba(31,31,28,1) 95%,rgba(31,28,31,1) 95%,rgba(28,29,31,1) 95%,rgba(27,27,28,1) 96%,rgba(26,25,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(44,44,44,1) 0%,rgba(45,44,44,1) 0%,rgba(22,23,23,1) 0%,rgba(25,23,24,1) 0%,rgba(24,24,24,1) 1%,rgba(26,25,26,1) 1%,rgba(24,25,25,1) 2%,rgba(27,27,27,1) 3%,rgba(27,27,28,1) 6%,rgba(32,32,32,1) 8%,rgba(33,32,31,1) 9%,rgba(35,36,36,1) 12%,rgba(37,36,36,1) 14%,rgba(36,38,38,1) 15%,rgba(38,39,37,1) 16%,rgba(39,37,39,1) 16%,rgba(39,40,40,1) 18%,rgba(42,40,39,1) 19%,rgba(41,42,42,1) 19%,rgba(40,40,41,1) 19%,rgba(42,42,42,1) 19%,rgba(44,44,44,1) 22%,rgba(44,44,44,1) 80%,rgba(41,41,40,1) 83%,rgba(40,42,42,1) 83%,rgba(42,41,39,1) 83%,rgba(42,39,41,1) 83%,rgba(39,40,40,1) 83%,rgba(40,40,40,1) 85%,rgba(36,38,38,1) 87%,rgba(37,36,36,1) 87%,rgba(35,37,37,1) 88%,rgba(33,31,32,1) 92%,rgba(32,32,32,1) 94%,rgba(31,29,31,1) 95%,rgba(31,31,28,1) 95%,rgba(31,28,31,1) 95%,rgba(28,29,31,1) 95%,rgba(27,27,28,1) 96%,rgba(26,25,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-family: "DroidSans","Sans Serif";
}
.g-footer-header {
    font-family: "LeagueGothic","Sans Serif";
    font-size: 30px;
    color: #dcc08e;
    text-transform: uppercase;
    margin-top:0px;
}
.g-footer-content {
    vertical-align: bottom;
    display: inline-block;
    min-height: 250px;
    min-width: 280px;
    max-width: 280px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.g-footer-container {
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 10px;
}

.g-footer-content ul li a {
    line-height: 2.2;
}

.g-footer-content ul li a #g-sub-li-nav-pic {
    width: 13px;
    height: 15px;
    padding-top: 5px;
}
.g-footer-content ul li a:hover #g-sub-li-nav-pic,
.g-footer-content ul li a:hover #g-sub-li-nav-pic,
.g-footer-content ul li a:hover #g-sub-li-nav-pic {
    content: url("../images/sub-li-nav-red.png");
}

.g-footer-credits {
    vertical-align: bottom;
    font-size: 12px;
    float: right;
    color: #636363;
    margin-right: 15%;
    margin-bottom: 2.5%;
}

.g-footer-content ul li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 278px;
}

/* Home page */


.h-container {
    display: block;
    margin-left: 62px;
    margin-right: 10px;
    overflow: none;
}

.h-container article {
    float: left;
    width: 231px;
    height: 360px;
    background: #ffffff;
    font-family: DroidSans;
    font-size: 13px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-top: none;
    color: #4a4a4a;
}

.h-container article:hover {
    width: 486px;
}

.h-container .p-post-category {
    right: 0px;
    top: 0px;
}
.h-container .p-post-date {
    right: 5px;
    top: 20px;
}

.h-container h2 {
    font-family: LeagueGothic;
    text-transform: uppercase;
    font-size: 30px;
    color: #9a1d0d;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    letter-spacing: 1px;
    margin-top:5px;
    padding-right: 15px;
    padding-left: 15px;
}

.h-container h3 {
    font-family: LeagueGothic;
    text-transform: uppercase;
    font-size: 18px;
    color: #2c2c2c;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 8px;

}

.h-container .p-post-image-container {
    margin-left: 0px;
    width: 100%;
    height: 185px;
    border: 4px solid #ffffff;
}

.h-container .p-post-image {
    box-shadow: 0 0 1px 1px grey;
    border: none;
}

.h-dotted {
    border-top: 1px dotted #969696;
}

.h-post-content-text {
    height: 90px;
    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: 1px dotted #a6a6a6; 
    padding: 16px 10px 0px 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.h-pagination-container {
    display: flex;
    margin-left: 87px;
    margin-right: 87px;
    height: 30px;
}

.h-pagination-container img {
    width: 26px;
    height: 26px;
    border: 1px transparent;
    margin: auto;
}

.h-pagination-numbers a{
    font-size: 36px;
    margin-right: 18px;
    text-shadow: 1px 1px solid #2b2a2a;
}
.h-pagination-numbers a:hover,
.h-pagination-numbers a:active, 
.h-pagination-numbers a:focus{
    color: #dcc08e;
}

.h-pagination-numbers {
   height:30px;
   margin-top: 0px;
   border: 1px transparent;
}
/* Post single page */

.p-page {
    font-family: DroidSans;
    color: #7a7575;
    width: 100%;
}
.p-page-content {
    display: flex;
}
.p-page-block {
    display: block;
    
}

.p-selected-item {
    font-size: 13px;
    margin-left: 80px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.p-single-post-size {
    width: 1200px;
}
.p-single-post {
    width: 100%;
    background: #ffffff;
    display: flex;
}
.p-post-info {
    display: block;
    width: 254px;
    padding-left: 29px;
    padding-top: 27px;
    padding-right:28px;
}
.p-post-image-container {
    margin-left: 3px;
    height: 185px;
    width: 100%;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    position: relative;
}
.p-post-image {
    width: 100%;
    height: 100%;
    z-index: 1000;
    border: 5px solid #efefef;
    object-fit: cover;
}
.p-post-category {
    font-family: LeagueGothic;
    background-color: #9a1d0d;
    color: #ffffff;
    text-shadow: 1px 1px #0000;
    letter-spacing: 2px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 1px 2px 1px 3px;
}
.p-post-date {
    font-family: LeagueGothic;
    color: #ffffff;
    text-shadow: 1px 1px 1px grey, -1px -1px 1px grey;
    position: absolute;
    font-size: 42px;
    letter-spacing: 1px;
    top: 20px;
    right: 10px
}

.p-post-date span {
    display: block;
}

.p-post-date span:nth-child(2) {
    text-align: right;
    margin-top: -26px;
}
.p-post-tags-container {
    margin-top: 25px;
}
.p-post-tags-container h3 ,
.p-post-related-posts h3 ,
.p-post-share h3,
.p-post-comment-content-container h3 {
    font-family: LeagueGothic;
    color: #2c2c2c;
    text-shadow: 1px 1px #FFFFFF;
    margin-left: 3px;
}

.p-post-tags-container div {
    display: inline-block;
    font-family: DroidSans;
    font-size: 11px;
    background-color: #efefef;
    color: #6e6e6e;
    letter-spacing: 0.3px;
    margin-bottom: 4px;
    padding: 5px 17px 5px 17px;
    text-transform: uppercase;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.p-post-related-posts ul {
    margin-bottom: -2px;
    font-size: 12px;
}
.p-post-related-posts li {
    margin-bottom: 6px;
}
.p-post-related-posts img {
    width: 10px;
    height: 10px;
    margin-right: 4px;
}

.p-post-share {
    margin-top: 4px;
    margin-bottom: 102px;

}
.p-post-share img{
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 12px;
    border: transparent 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(55, 57, 55, 0.1);
}
.p-post-share-img {
    margin-left: 3px;
}

.p-post-share .p-post-share-last {
    margin-right: 0px;
}

.p-border {
    -webkit-border-image: url('../images/border-line.jpg') 30 round;
    border-image: url('../images/border-line.jpg') 30 round;
    border-top:9px solid;
    border-bottom:9px solid;
}
.p-post-content {
    display: block;
    padding-right: 36px;
    width: 946px;
}
.p-post-line {
    border-top: 1px dashed #a6a6a6;;
    width: 100%;
}
.p-post-content h2,
.p-post-comments-container h2 {
    color: #9a1d0d;
    font-size: 36px;
    font-family: LeagueGothic;
    text-transform: uppercase;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.p-post-content h3 {
    margin-top: -5px;
    color: #212121;
    font-size: 18px;
    font-family: LeagueGothic;
    text-transform: uppercase;
}

.p-post-content-text {
    color: #7a7575;
    font-size: 13px; 
    margin-top: 12px;
    margin-bottom: 40px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-line;
  
    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.p-post-comments-container {
    padding-top: 15px;
    padding-left: 228px;
    width: 100%;

}

.p-post-comments-container-padding {
    padding: 6px 35px 30px 28px;
    background: #ffffff;
}

.p-post-comments-container .p-post-line {
    margin-top: 5px;
    margin-bottom: 27px;
}

.p-post-comment {
    display: flex;
    margin-bottom: 18px;
}
.p-post-comment-info {
    display: block;
}

.p-post-comment-info-container {
    width: 72px;
    height: 72px;
    position: relative;
}

.p-post-comment-image{
    width: 100%;
    height: 100%;
    border: 4px solid #efefef;
}
.p-post-comment-date {
    font-family: LeagueGothic;
    color: white;
    text-shadow: 1px 1px 1px grey, -1px -1px 1px grey;
    position: absolute;
    font-size: 28px;
    letter-spacing: 1px;
    top: 0;
    right: 10px;
}
.p-post-comment-date span {
    display: block;
}
.p-post-comment-date span:nth-child(2) {
    text-align: right;
    margin-top: -16px;
}

.p-post-comment-content-container {
    display: block;
    margin-left: 17px;
    width: 100%;
    font-size: 13px;
}
.p-post-comment-content-container h3 {
    margin-top: -2px;
    text-transform: uppercase;
}
.p-post-comment-content {
    font-family: DroidSans;
    color: #7a7575;
    margin-top: -5px;
    margin-bottom: 10px;
    width: 49.10vw;
    height: auto;
    word-wrap: break-word; 
}
.p-post-sub-comment-content .p-post-comment-content {
    width: 43.75vw;
}
.p-replay-btn {
    font-size: 11px;
    width: 50px;
    height: 30px;
    float: right;
    font-family: DroidSans;
    color: #6e6e6e;
    border: none;
    background: #efefef;
    text-shadow: 1px 1px #ffffff;
}

.p-create-comment-form {
    width: 510px;
    margin-bottom: 37px;
}
.p-create-comment-form textarea,
.p-post-comment-content-container textarea {
    resize: none;
    display: block;
    margin-bottom: 15px;
    border: 1px solid #d6d6d6;
}
.p-create-comment-form textarea:disabled {
    background: #f6f6f6;
    border: 1px solid #d6d6d6;
}

.p-ccf-anonymous {
    width: 68%;
}

.p-ccf-content {
    width: 100%;
    height: 9.00vw;
}

.p-ccf-btn:disabled {
    color: #e7e7e7;
}

.p-post-comment-sub {
    margin-top: 50px;
}

.p-page-block-content {
    margin-left: 15px;
    margin-right: 64px;
    width: 378px;
}
.p-tabs {
    height: 337px;
    background: #e7e7e7;
    border-top: none;
    box-shadow: 1px solid #000000;

}

.p-tabs ul li,
.p-custom-wd h3 {
    font-family: LeagueGothic;
    font-size: 30px;
    color: #9a1d0d;
    text-decoration: none;
    text-align:center;
    padding: auto;
    padding-top: 12px;
    background: #d6d6d6;
}
.p-tabs ul {
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.p-tabs ul > li:active, 
.p-tabs ul > li:focus,
.p-tabs ul > li:hover  {
    background: #e7e7e7;
}
.p-tabs ul > li {
    display: table-cell;
}
.p-tabs ul li a:active,
.p-tabs ul li a:focus,
.p-tabs ul li a:hover {
    color: #9a1d0d;
    border: none;
    text-decoration: none;
}
.p-tabs li:nth-child(2) {
    border-right: 1px dotted #969696;
    border-left: 1px dotted #969696;
}
.p-tabs .p-post-comment-image-small {
    width: 38px;
    height: 38px;
    border: 3px solid #d6d6d6;
    margin: 15px 10px 11px 18px;
}
.p-tabs .p-post-comment-small {
    border-top: 1px dotted #969696;
    display: flex;
}
.p-tabs .p-post-comment-small:nth-last-child(1) {
    border-bottom: 1px dotted #969696;
    margin-bottom:0px;
}
.p-tabs .p-post-comment-info-small,
.p-tabs .p-post-comment-content-container-small {
    display: block;
}

.p-post-comment-content-container-small p:nth-child(1) {
    color: #2b2b2b;
    text-shadow: 0.4px 0.4px #FFFFFF;
    font-size: 14px;
    font-family: DroidSans;
    margin-top: 17px;
    margin-bottom: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 17vw;
}

.p-post-comment-content-small {
    font-size: 11px;
    font-family: Georgia, serif;
    font-style: italic;
    color: #a8a8a8;
    text-shadow: 0.2px 0.2px #FFFFFF;
}

.p-custom-wd {
    height: auto;
    background: #e7e7e7;
    margin-top: 16px;
    box-shadow: 1px solid #000000;
    border-top: none;
    text-overflow: clip;
    overflow: hidden;
}

.p-custom-wd h3 {
    background: #e7e7e7;
    border-bottom: 1px dotted #969696;
    padding-bottom: 14px;
}

.p-custom-wd img {
    width: 10px;
    height: 10px;
}

.p-custom-wd ul {
    margin-left: 20px;
    font-size: 14px;
    line-height: 2.2;
}

.p-custom-wd ul li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 17vw;
}

.p-custom-wd-text {
    font-size: 13px;
    margin: 0px 30px 44px 24px;
}

/* Category page */

.c-selected-category {
    font-size: 13px;
    font-family: DroidSans;
    color: #8e8e8e;
    margin-left: 25px;
}

.c-page {
    display: flex;
}

.c-posts {
    display: block;
    width: 1306px;
    margin-left: 60px;
}

.c-recent {
    display: block;
    width: 234px;
    margin-top:12px;
    margin-bottom: 210px;
    margin-right: 40px;
}

.c-posts .h-container, 
.c-posts .h-pagination-container{
    margin: 0px;
}

.c-recent .p-custom-wd {
    font-size: 13px;
    font-family: DroidSans;
    color: #7a7575;

}

.c-page .p-custom-wd ul li {
    width: 10vw;
}

.p-profile {
    display: block;
    margin: auto;
    width: 27vw;
    background: #ffffff;
    font-family: LeaguGothic;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 12vw;
}

.p-profile img {
    width: 100%;
    height: auto;
    border: 4px solid #ffffff;
}

.p-profile .p-name {
    font-size: 2vw;
    color: #9a1d0d;
    font-weight: 700;
}

.p-profile .p-email {
    font-size: 1vw;
    color:#2c2c2c;
    font-weight: 700;
}

.p-dotted {
    border-top: 1px dotted #6e6e6e;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Register/Login/Create Post pages*/
.error {
    color: red;
}

.r-page {
    display: block;
    margin: auto;
    width: 70%;
    font-size: 2vw;
    font-weight: normal;
    margin-top: 5vw;
    margin-bottom: 12vw;
}

.r-page label {
    font-weight: normal;
}

.r-page ::-webkit-input-placeholder {
    font-size: 1.5vw!important;
}
 
.r-page ::-moz-placeholder { /* Firefox 18- */
       font-size: 1.5vw!important;
}

.r-page ::-moz-placeholder {  /* Firefox 19+ */
       font-size:1.5vw!important;
}

.form-control {
    font-size: 18px;
    font-family: DroidSans;
}

#login-form {
    margin-bottom: 5vw;
}

#l-loading img {
    margin-top: 0.5vw;
    width: 6vw;
}

/* Responsive for desktop more than 1800px */
@media (min-width: 1800px) {

    #g-app-container, .container {
        width: 100%;
    }

    .r-page input {
        min-height: 3vw;
        font-size: 1.5vw;
    }

    .g-footer-content {
        min-height: 22vw;
        min-width: 20vw;
        max-width: 20vw;
        margin-left: 3vw;
        margin-bottom: 1.5vw;
    }
    .g-footer-container {
        margin-top: 2.5vw;
        margin-left: 3vw;
        margin-right: 1vw;
    }
    footer {
        font-size: 1vw;
    }
    .g-footer-header {
        font-size: 1.5vw;
    }

    .g-footer-credits {
        font-size: 0.9vw;
    }

    .g-footer-content ul li{
        width: 20vw;
    }
    
    .g-logo-box {
        margin-left: 3.99vw;
        margin-top: 7.38vw;
        margin-bottom: 1.31vw;
    }

    #g-logo {
        height: 6.19vw;
    }

    #g-myNavbar {
        margin-left: 5.00vw;
        margin-right: 4.88vw;
        margin-bottom: 2.62vw;
    }

    #g-myNavbar ul li {
        margin-right: 1.19vw;
        font-size: 1.43vw ;
    }

    .g-search-form {
        width: 11.37vw;
        height: 1.96vw;
        border-bottom: 0.06vw solid #323233 !important;
        border-right: 0.06vw solid #2b2a2a !important;
        text-shadow: 0.06vw 0.06vw black  !important;
        font-size: 0.7vw;
    }
    .g-search-form-text {
        padding: 1vw 0.83vw 0.7vw;
    }

    .dropdown-menu {
        left: -0.59vw;
        width: 12.08vw;
        border-radius:  0.29vw;
        padding-bottom: 1vw;
        padding-top: 0.77vw;
    }

    .dropdown-menu > li >a {
        font-size: 1.3095238095238095vw;
        padding-top: 11px !important;
        padding-left: 1.19vw !important;
    }

    .dropdown-toggle:focus,
    .dropdown-toggle:active {
        box-shadow: 0vw 0vw 0vw 0.7vw #222222;
    }

    #l-loading img {
        width: 4vw;
    }

    .h-container article {
        width: 13.75vw;
        height: 21.43vw;
        font-size: 0.77vw;
        margin-left: 1.5vw;
        margin-bottom: 1.5vw;
    }

    .h-container article:hover {
        width: 29vw;
    }

    .h-container h2 {
        font-size: 1.8vw;
    }

    .h-container h3 {
        font-size: 1.07vw;
    }

    .h-container .p-post-image-container {
        height: 11vw;
    }

    .h-post-content-text {
        height: 4.9vw;
    }


    .c-posts {
        width: 77.50vw;
    }

    .c-recent {
        width: 13.92vw;
    }

    .c-selected-category {
        font-size: 0.77vw;
        margin-left: 1.48vw;
    }

    .c-page .p-custom-wd ul li {
        width: 11vw;
    }

    .p-custom-wd {
        height:16.55vw;
    }

    .p-custom-wd img {
        width: 0.6vw;
        height: 0.6vw;
    }

    .p-custom-wd ul {
        font-size: 0.83vw;
        margin-left: 1.19vw;
    }

    .p-custom-wd-text {
        font-size: 0.77vw;
    }

    .p-tabs ul li,
    .p-custom-wd h3 {
        font-size: 1.78vw;
    }

    .p-page-block-content {
        width: 23vw;
    }

    .p-single-post-size {
        width: 74vw;
    }

    .p-post-content {
        width: 55vw;
    }

    .p-post-content-text {
        font-size: 0.77vw;
    }

    .p-post-info {
        width: 15.12vw;
    }

    .p-post-image-container {
        height: 11vw;
    }

    .p-tabs {
        height: auto;
        font-size: 0.77vw;
    }

    .p-post-comment-content-small {
        font-size: 0.66vw;
    }

    .p-post-comment-content-container-small p:nth-child(1) {
        font-size: 0.77vw;
        margin-top: 1.01vw;
    }

    .p-post-tags-container h3, 
    .p-post-related-posts h3, 
    .p-post-share h3, 
    .p-post-comment-content-container h3 {
        font-size: 1.2vw;
    }

    .p-post-tags-container div {
        font-size: 0.66vw;
    }

    .p-post-share img {
        width: 1.48vw;
        height: 1.48vw;
        margin-right: 0.71vw;
        border-radius: 0.2vw;
    }

    .p-post-related-posts ul li a {
        font-size: 0.66vw;
    }

    .p-post-comment-content {
        font-size: 0.77vw;
    }

    .p-post-content h2,
    .p-post-comments-container h2 {
        font-size: 1.8vw;
    }

    .p-post-content h3 {
        font-size: 1.5vw;
    }

    .p-replay-btn {
        font-size: 0.65vw;
        width: 2.97vw;
        height: 1.78vw;
    }

    .p-selected-item {
        font-size: 0.77vw;
    }

    .p-post-comments-container {
        padding-top: 0.77vw;
        padding-left: 15.12vw;
    }

    .p-post-comment-sub {
        margin-top: 2.97vw;
    }

    .p-post-comment-date {
        font-size: 1.66vw;
        letter-spacing: 0.06vw;
        right: 0.59vw;
    }

    .p-post-comment-info-container {
        width: 4.28vw;
        height: 4.28vw;
    }

    .p-post-date,
    .h-container .p-post-date {
        font-size: 2.25vw;
        top: 1.19vw;
        right: 0.59vw;
    }

    .p-post-category {
        font-size: 1vw;
        letter-spacing: 0.12vw;
        padding: 0.06vw 0.12vw 0.06vw 0.18vw;
        right: 0.3vw;
    }

    .p-post-share {
        margin-bottom: 6.07vw;
    }

    .p-post-info {
        padding-left: 1.72vw;
        padding-top: 1.60vw;
        padding-right: 1.66vw;
    }

    .p-post-tags-container {
        margin-top: 1.48vw;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 1.19vw;
        margin-bottom: 0.59vw;
    }

    .p-tabs .p-post-comment-image-small {
        width: 2.26vw;
        height: 2.26vw;
        border: 0.17vw solid #d6d6d6;
        margin: 0.89vw 0.59vw 0.65vw 1.07vw;
    }

    .p-post-comment-content-container {
        margin-left: 1.01vw;
        font-size: 0.77vw;
    }

    .p-post-comments-container-padding {
        padding: 0.35vw 2.08vw 1.78vw 1.66vw;
    }

    .p-create-comment-form {
        width: 30.35vw;
        margin-bottom: 2.20vw;
    }

    .form-control {
        font-size: 1.07vw;
    }

}

@media (max-width: 1662px) {

    .p-create-comment-form {
        width: auto;
    }
}

/* Responsive for desktop 1600px */
@media (max-width: 1600px) {
    .g-footer-content {
        min-height: 19vw;
        min-width: 17.5vw;
        max-width: 17.5vw;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    .g-footer-container {
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 10px;
    }

    .c-posts {
        width: 77.50vw;
    }

    .c-page .p-custom-wd ul li {
        width: 12vw;
    }

    .h-container {
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    .h-pagination-numbers a {
        font-size: 2.5vw;
        margin-right: 1.07vw;
    }

    .h-pagination-numbers {
        height: auto;
    }

    .h-pagination-container img {
        width: 1.54vw;
        height: 1.54vw;
    }

    .p-post-content {
        width: auto;
        flex: 1 1 auto;
    }

    .p-post-content-text {
        width: 52vw;
    }

    .p-single-post-size {
        width: auto;
    }

    .p-post-info {
        min-width: 254px;
    }

    .p-post-comment-content {
        width: 44.10vw;
    }

    .p-post-sub-comment-content .p-post-comment-content {
        width: 38.75vw;
    }
}

@media (max-width: 1450px) {
    .g-footer-container {
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-left: 50px;
    }

    .g-footer-content {
        min-height: 250px;
        min-width: 280px;
        max-width: 280px;
        margin-left: 10px;
    }

    .p-post-content-text {
        width: 43vw;
    }

    .p-post-content {
        width: 45vw;
    }

    .p-post-comment-content {
        width: 40.10vw;
    }

    .p-post-sub-comment-content .p-post-comment-content {
        width: 34.75vw;
    }

}

@media (max-width: 1350px) {

    .p-post-comment-content {
        width: 35.10vw;
    }

    .p-post-sub-comment-content .p-post-comment-content {
        width: 29.75vw;
    }
}

@media (max-width: 1230px) {
    .p-post-comments-container {
        padding-left: 200px;
    }
}

/* Responsive for laptops 1200px */
@media (max-width: 1200px) {
    .g-footer-container {
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-left: 30px;
    }

    .g-footer-content {
        min-height: 250px;
        min-width: 280px;
        max-width: 280px;
        margin: auto;
    }

    footer {
        position: relative;
    }

    .g-footer-content ul li{
        width: 20vw;
    }

    #g-myNavbar ul li {
        font-size: 1.8vw;
        margin-right: 10px;
    }

    .dropdown-menu > li > a {
        font-size: 1.8vw ;
    }

    #g-myNavbar {
        margin-left: 64px;
        margin-right: 62px;
        margin-bottom: 34px;
        text-shadow: 1px 1px black;
    }

    .p-page-block-content {
        width: 21vw;
        height: auto;
    }

    .p-post-comments-container {
        padding-left: 254px;
    }

    .p-post-comment-content-container-small p:nth-child(1) {
        width: 14vw;
    }

    .c-page .p-custom-wd ul li {
        width: 15vw;
    }
}

@media (max-width: 1130px) {
    .p-page-content {
        display: block;
    }

    .p-post-content-text {
        width: 60vw;
    }

    .p-post-comment-content {
        width: 55.10vw;
    }

    .p-post-sub-comment-content .p-post-comment-content {
        width: 49.75vw;
    }

    .p-page-block-content {
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 25px;
    }

    .p-post-comment-content-container-small p:nth-child(1),
    .p-custom-wd ul li{
        width: 25vw;
        margin: auto;
        display: block;

    }

    .c-page .p-custom-wd ul li {
        width: 17vw;
    }

    .g-footer-content ul li{
        width: 23vw;
    }
}

/* Custom Resizing for responsive design ---->*/
@media (max-width: 990px) {

    .p-post-comments-container {
        padding-left: 0px;
    }

    .p-post-comment-content {
        width: 75.10vw;
    }

    .p-post-sub-comment-content .p-post-comment-content {
        width: 69.75vw;
    }
}

@media (max-width: 810px) {

    .h-container article:hover {
        width: 231px;
    }

    .c-page .p-custom-wd ul li {
        width: 18.4vw;
    }

    .g-footer-content ul li{
        width: 27vw;
    }
}

@media (max-width: 768px) {

    .h-container article {
        float: none;
        margin: 0 auto;
        margin-top: 60px;
        width: 100%;
        height: auto;
    }

    .h-container article:hover {
        width:100%;
    }

    .h-container .p-post-image-container {
        height: auto;
    }

    .g-footer-container {
        display: block;
        margin-top: 30px;
    }

    .g-footer-content {
        display: block;
        min-height: 250px;
        min-width: 280px;
        max-width: 280px;
        margin: auto;
    }

    .g-footer-content ul li{
        width: 60vw;
    }

    #g-myNavbar ul li {
        font-size: 24px;
        margin-right: 20px;
    }

    .dropdown-menu > li > a {
        font-size: 22px;
    }

    .form-control {
        font-size: 13px;
    }

    .c-page {
        display: block;
    }

    .c-posts {
        width: 80%;
        margin-left: auto;
        margin-right:auto;
    }

    .c-recent {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }

    .p-custom-wd ul li {
        width: 50vw;
    }

    .p-custom-wd {
        width: 100%;
        margin: auto;
        height: auto;
        margin-top: 16px;
    }

    .p-custom-wd ul {
        width: 100%;
        margin: auto;
    }

    .c-recent .p-custom-wd {
        margin-top: 60px;
    }

    .c-page {
        display: block;
    }

    .c-posts .h-container {
        width: 100%;
    }

    .p-post-content-text {
        width: 50vw;
    }

    .p-selected-item {
        font-size: 13px;
        margin-left: auto;
        margin-top: 20px;
    }

    .p-replay-btn {
        float:none;
    }

    .p-post-comment-content {
        width: 65.10vw;
    }

    .p-post-sub-comment-content .p-post-comment-content {
        width: 59.75vw;
    }
}

/* Responsive for phones - orientation landscape 720px */
@media (max-width: 720px) {

    #g-app-container, .container {
        width: 100%;
    }

    .r-page {
        width: 95%;
        font-size: 4vw;
    }

    .g-btn {
        font-size: 4vw;
        width: 40%;
    }

    .r-page ::-webkit-input-placeholder {
        font-size: 3vw!important;
     }

    .r-page ::-moz-placeholder { /* Firefox 18- */
           font-size: 3vw!important;
     }

    .r-page ::-moz-placeholder {  /* Firefox 19+ */
           font-size:3vw!important;
     }
}

@media (max-width: 600px) {

    .p-single-post {
        display: block;
        margin: auto;
    }

    .p-post-info {
        min-width: 100%;
    }

    .p-post-image-container {
        height: auto;
    }

    .p-post-content {
        min-width: 100%;
        padding-left: 29px;
        padding-top: 27px;
        padding-right: 28px;
    }

    .p-post-content-text {
        min-width: 100%;
    }

    .p-post-comment-content {
        width: 75.10vw;
    }

    .p-post-sub-comment-content .p-post-comment-content {
        width: 69.75vw;
    }

    .p-post-comment-content-container h3 {
        font-size: 16px;
    }

    .p-post-comment-content-container {
        font-size: 10px;
        margin-left: 5px;
    }

    .p-post-comment-info-container {
        width: 50px;
        height: 50px;
    }

    .p-post-comments-container .p-post-comment-date {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .p-post-comment-content-container-small p:nth-child(1),
    .p-custom-wd ul li {
        width: 50vw;
    }
}

@media (max-width: 510px) {

    .p-post-comment-content {
        width: 63.10vw;
    }

    .p-post-sub-comment-content .p-post-comment-content {
        width: 57.75vw;
    }

    .p-post-comment-content-container {
        font-size: 8px;
        margin-left: 5px;
    }

    .p-post-comments-container-padding {
        padding: 6px 10px 20px 10px;
    }
}
/* Responsive for phones 360px */
@media (max-width: 360px) {

    .g-footer-content {
        display: block;
        min-height: 100px;
        min-width: 100px;
        max-width: 280px;
        margin: auto;
    }

    .r-page {
        width: 98%;
        font-size: 6vw;
    }

    .g-btn {
        font-size: 7vw;
        width: 100%;
    }

    .h-pagination-container {
        display: block;
        margin: 0 auto;
        height: auto;
        width: 40%;
    }

    .h-pagination-numbers {
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .p-post-image-container {
        width: 60vw;
    }

    .p-post-tags-container div {
        max-width: 60vw;
    }

    .p-post-comment-content-container {
        font-size: 7px;
        margin-left: 4px;
    }



}

@media (max-width: 220px) {
    .p-post-share img {
        display: block;
        float: none;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .p-post-comment-content-container {
        font-size: 6px;
    }
}