<div class="container g-app-container ">
    <div class="row">
        <form action="#/login" id="login-form" method="post">
            <div class="form-group">
                <span class="label label-danger"></span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            </div>

            <div class="form-group ustify-content-start">
                <input type="submit" class="btn btn-success btn-submit-form" value="LOGIN">
            </div>
        </form>
    </div>
</div>