<div class="container g-app-container ">
    <div class="row">
        <div class="col">
            <div class="single-article-image-containter">
                <img class="single-article-image" src="{{user.photoURL}}" />
            </div>

            <div class="row">
                {{{user.photoURL}}}
            </div>

            <div class="row">
                {{user.email}}
            </div>
        </div>
    </div>
</div>